{% extends 'portfolio/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-landing">
    <h1 class="welcome-title">Welcome to Kwooby</h1>
    
    <div class="flash-message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <form class="login" action="/mile-tracker/login" method="POST">

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" maxlength="20" required>

        <label for="password">Password:</label>

        <div class="form-field">
            <input type="password" id="password" name="password" maxlength="40" required>
            <button class= "show-password" type="button" id="show-password">
                <i class="fa-solid fa-eye"></i>
            </button>
        </div>

        <button type="submit">Login</button>

    </form>
    <br>

    <p>No account?</p>
    <a href="{{ url_for('register_user') }}">Create one to see inside!</a>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</div>

{% endblock %}