{% extends 'portfolio/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="flash-message">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<section class="welcome-page">
    <h1>Welcome to Kwoobtown</h1>
    <p>This is my portfolio website (created with Flask).</p>

    <div class="project-list-container">
        <div class="functional-projects">
            <h3>Functional projects</h3>

            <ul class="finished-project-list">
                <li><a href="{{ url_for('dashboard') }}">Mile Tracker</a></li>
            </ul>
        </div>

        <div class="wip">
            <h3>In progress</h3>

            <ul class="wip-list">
                <li>Hallownest REST API</li>
                <li>About Page</li>
            </ul>
        </div>
    </div>

</section>

{% endblock %}