/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic page styling */
body {
    font-family: Arial, sans-serif;
    background-color: red;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ff9900;
}

/* Main content */
main {
    width: 80%;
    max-width: 1200px;
    margin: 30px auto;

}

/* Sections / cards */
section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Buttons */
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #daa47e;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}