/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic page styling */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(230, 245, 245);
    color: #06232e;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #253538;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav {
    background-color: #576e72;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ff9900;
}

/* Main content */
main {
    width: 80%;
    max-width: 1200px;
    margin: 30px auto;

}

/* Sections / cards */
section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
/* Flash CSS */
.flash-message {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    font-weight: bold;
}

.flash-message-register {
    font-weight: bold;
    padding: 5px;
    justify-items: center;
}

/* Buttons */
button {
    background-color: #2d5858;
    color: white;
    border: none;
    padding: 7px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-button {
    background-color: #525d63;
    color: white;
    border: none;
    padding: 9px 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.page-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.register-button {
    width: fit-content;
    margin: 20px;
    align-self: center;
}

button:hover {
    background-color: #b2cccc;
    color: #073333;
}

/* Footer */
footer {
    background-color: #253538;
    color: white;
    text-align: center;
    padding: 15px;
}

/* Mile Tracker Log Container */
.log-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
    justify-items: center;
    justify-content: center;
    color: #073333;
    margin-top: 0.5rem;
}

.log-container > :first-child, .log-container > :last-child {
    grid-column: 1 / -1;
    align-items: center;
}

/* Log details */
.log-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding: 15px;
}

.log-details {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.log-photos-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    text-align: center;
}

.log-photos {
    display: flex;
    flex-direction: row;
    width: 40%;
    flex-wrap: wrap;
}

/* Landing CSS */
.landing {
    background-color: white;
    color: #073333;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

/* Login CSS */
.login-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: #073333;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.login-landing h1 {
    margin-bottom: 20px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.register-form input {
    width: max-content;
    box-sizing: border-box;
}

.show-password {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2d5858;
    background-color: transparent;
    border: solid 1px #0c3944;
    padding: 6px 8px;
    margin: 0;
}

/* Settings */

.settings-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.delete-account-button {
    background-color: rgb(255, 67, 67);
}

.delete-account-button:hover {
    background-color: rgb(255, 153, 153);
    color: rgb(51, 22, 22);
}

/* Run History CSS */
.all-history-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.small-history-container {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    align-items: center;
    padding: 15px;
    text-align: center;
}

.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(123, 145, 145);
    border-radius: 10px;
    color: #2d5858;
    padding: 10px;
    margin: 4px;
}

.details {
    display: inherit;
    flex-direction: column;
}

.log-photos-container :last-child {
    grid-column: 1 / -1;
    justify-content: space-evenly;
    align-content: space-around;
}

/* Image gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 20px;
    padding: 20px
}

.gallery > :first-child, .gallery > :last-child {
    grid-column: 1 / -1;
    justify-content: space-evenly;
    align-content: space-evenly;
    align-items: center;
    text-align: center;
}

.gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

/* Miles per Month */
.monthly-miles-container {
    display: grid;
    grid-template-columns: repeat(1fr);
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 95%;
    color: #073333;
    margin: 10px;
    padding: 15px;
}

.monthly-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#2d5858;
    width: 100%;
}

.monthly-row {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    border: solid 1px rgb(123, 145, 145);
    border-radius: 5px;
    width: 95%;
    margin: 5px;
    padding: 10px;
}

/* Register Page */
.register-section {
    display: grid;
    place-items: center;
    text-align: center;
    gap: 15px;
    padding: 15px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 300px;
    margin: 5px;
    gap: 3px;
}

.register-form input {
    width: max-content;
    box-sizing: border-box;
}

.register-form > :last-child {
    margin-bottom: 13px;
}

.form-field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.form-field label {
    text-align: left;
    width: fit-content;
}

/* Mobile Layout Overrides */
@media (max-width: 768px) {
    .log-container {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .log-photos-section {
        width: 100%;
    }

    .info-container {
        width: 100%;
    }

    .log-details-container {
        width: 100%;
    }

    .monthly-miles-container {
        width: 100%;
    }

    .landing {
    width: 100%;
    }

    input,
    select,
    button {
        width: fit-content;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
    
    .gallery img {
        aspect-ratio: 1 / -1;
    }

    nav ul {
        flex-direction: row;
        align-items: center;
    }
}
