<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mile Tracker</title>
</head>

<body>
    <header>
        <nav>
            <a href ="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('mile_tracker') }}">Mile Tracker For my Wife</a>
        </nav>
    </header>

    <main>
        <h1>Welcome to Kwoobtown</h1>
        <p>This is going to be my portfolio website (created with Flask), but for now it's just a place to hold a mile-tracker I'm making for my wife.</p>
    </main>

    <footer>
        <p>Kwooby Out</p>
    </footer>
</body>

</html>