<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kwooby</title>
</head>

<body>

    <h1>Login to View Kwooby</h1>

    <main>
        <form method="POST" action="/login">
    
            <label for="password">Password:</label>
            <input id="password" name="password" type="password" required>

            <button type="submit">Enter</button>
        </form>
    </main>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

</body>

</html>