{% extends "base.html" %}

{% block title %}Mile Tracker{% endblock %}

{% block content %}
<section class = "log-run-info">
    <h2 class="log-details-title">Details of your Run</h2>
    <form class="log-details" method="POST" action="{{ url_for('log_details') }}">
        <label for="activity">Activity: </label>
        <select name="activity" id="activity">
            <option value="walk">Walk</option>
            <option value="run">Run</option>
        <select>
        <br>

        <label for="miles">Miles: </label>
        <input id="miles" name="miles" type="number" min="0" max="10" step="0.1" required>

        <br>

        <label for="run_date">Date: </label>
        <input id="run_date" name="run_date" type="date" required>

        <br>
        <br>

        <button type="submit">Save Run Details</button>
    </form>
    <br>

    <h2 class="log-photos-title">Did you see any kitties today?</h2>
    <form class="log-photos" method="POST" action="{{ url_for('log_photos') }}" enctype="multipart/form-data">

        <label for="log_photos">Log Photos: </label>
        <br>
        <br>
        <input id="log_photos" name="log_photos" type="file">

        <br>
        <br>
        
        <button type="submit">Save Photo</button>
    </form>
</section>
<br>

<section class="runs-history">
    <h2>History of Runs</h2>
    <p>All the details of all your runs are here</p>

        {% for run in runs%}
            <p>{{ run["activity"] }} - {{ run["miles"] }} miles - {{ run["run_date"] }}<p>
        {% endfor %}

        <form class="filter-by-activity" method="GET" action="{{ url_for('mile_tracker') }}">
            
            <label for="activity">Filter by Activity</label>
            <select name="activity" id="activity">
                <option value="">All</option>
                <option value="Run">Run</option>
                <option value="Walk">Walk</option>
            </select>

            <button type="submit">Filter</button>

        </form>
</section>
{% endblock %}