{% extends 'base.html' %}

{% block title %}All History{% endblock %}

{% block content %}

<section class="history">
    <h2>History | Total: {{ total_miles }} Miles</h2>

    <div class="all-history-container">

        <div class="history-filters">
            <form method="GET" action="{{ url_for('runs_history') }}">
                
                <label for="activity-filter">Filter by Activity</label>
                <select name="activity" id="activity-filter">
                    <option value="">All</option>
                    <option value="run" {% if activity == "run" %}selected{% endif %}>Run</option>
                    <option value="walk" {% if activity == "walk" %}selected{% endif %}>Walk</option>
                </select>

                <label for="year-filter">Filter by Year</label>
                <select name="year" id="year-filter">
                    <option value="">All Years</option>

                    {% for y in years %}
                        <option value="{{ y }}" {% if selected_year == y|string %}selected{% endif %}>{{ y }}</option>
                    {% endfor %}
                </select>

                <button type="submit">Show</button>
            </form>
        </div>

        {% for run in runs%}
            <div class="info-container">
                <strong><p>{{ run["activity"].capitalize() }}</p></strong>
                <p>{{ run["miles"] }} Miles</p>
                <p>{{ run["run_date"] }}</p>

                <form class="delete-log" action="{{ url_for('delete_run', run_id=run['id']) }}" method="POST">
                    <button class="delete-button" type="submit">Delete</button>
                </form>
            </div>
        {% endfor %}
    </div>
</section>
    
{% endblock %}